* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #fff;
}

.nav {
  position: sticky;
  top: 0;
  background-color: rgb(94, 92, 92);
  z-index: 1000;


}

nav {
  width: 100%;
  color: white;
  display: flex;
  /* z-index: 1000;
  position: sticky;
  top: 0; */
  height: 10vh;
  /* margin: 20px; */
  justify-content: space-between;
}

.nav ul {
  display: flex;
  margin-right: 12vh;
  font-size: 21px;
  list-style: none;
  gap: 3rem;
  margin-top: 3vh;

}

.icon-white {
  color: white;
  font-size: 35px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: -4px;
}


/* .cv button {
  margin-top: 2vh;
  font-size: 20px;
  padding: 12px;
  width: 60%;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin-left: 15vh;
} */
.cv {
  margin-top: 1vh;
  font-size: 25px;
  padding: 12px;
  /* width: 60%; */
  /* background-color: black; */
  color: white;
  /* border: 2px solid white; */
  /* border-radius: 15px; */
  margin-left: 15vh;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: blanchedalmond; */
  height: 90vh;
  /* margin: 20px; */
}

.details {
  width: 60%;
  padding: 10rem;
  text-align: start;
  /* margin: 20px; */
  /* font-family: 'poppins', sans-serif; */
  font-size: 30px;
  /* background-color: rosybrown; */
}

/* .details span{
  color: rgb(230, 22, 57);
} */
.details button {
  background-color: rgb(230, 22, 57);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .6s;
  margin-top: 25px;
}

.pic {
  /* background-color: royalblue; */
  width: 40%;

}

.pic img {
  width: 80%;
  height: 60%;
  object-fit: fill;
  /* background-size: cover; */
  opacity: 0.7;
  margin-top: 10vh;
  /* margin-left: 10vh; */
  border-radius: 50%;
}
.light .pic img {
  opacity: 1;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* margin: 2%; */
  /* background-color: #6d6767; */

}

.me {
  width: 100%;
  color: white;
  /* background-color: #ac7373; */
  height: 40%;
}

.dis {
  width: 100%;
  color: white;
  /* background-color: #584e4e; */
  height: 50%;
}

.me h3 {
  /* margin-top: 5%; */
  margin-left: 10%;
  font-size: 35px;
  color: #fff;
  /* font-family: 'poppins', sans-serif; */
}

.d {
  color: rgb(230, 22, 57);

}

.dis p {
  width: 80%;
  margin-top: 1%;
  margin-left: 10%;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: justify;
}

.me h1 {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 75px;
  /* color: rgb(230, 22, 57); */
  /* font-family: 'poppins', sans-serif; */
}
.light .about .me h1,
.light .about .dis p,
.light .about .me h3,
.light .about .d {
  color: black;
}


.about button {
  background-color: rgb(230, 22, 57);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .6s;
  margin-bottom: 7%;
  margin-right: 72.5%;
}

.about button:hover {
  background-color: transparent;
  transform: scale(1.05);
  border: 2px solid rgb(230, 22, 57);
  cursor: pointer;
}
.light .about button:hover {
  color: black;
}

.pro-cards {
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  transition-duration: 0.4s;
  overflow: hidden;
}

.pro-cards:hover {
  transform: scale(1.05);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  margin-left: 7rem;
  padding: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170vh;
  /* background-color: #ddd; */

  font-size: 25px;
  color: rgb(230, 22, 57);
  /* margin-top: 50px; */
  /* font-family: 'poppins', sans-serif; */
}
.projects h1 {
  font-size: 50px;
  margin-top: 20px;
  color: white;
}


.footer {
  height: 90vh;
}

.hello {
  /* background-color: #8f0606; */
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.say {
  width: 50%;
  align-items: center;
  margin: 17px;
  justify-content: center;
  /* background-color: #ac7373; */
  height: 50%;
}

.icon {
  width: 50%;
  /* background-color: #584e4e; */
  height: 20%;
  /* background-color: pink; */
}
.light .hello .icon {
  color: black;
  background-color: #131313;
}

.footer p {
  color: white;
}
.light .footer p {
  color: black;
}

.say button {
  background-color: rgb(230, 22, 57);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .6s;
  margin-top: 200px;
  margin-left: 310px;

}

.icon a {
  text-decoration: none;
  color: white;
  font-size: 60px;
  margin-left: 20px;

  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
}
.icoon{
  transition-duration: 0.4s
}
/* .light .icoon:hover {
  color: #923141;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
} */

hr {
  color: white;
  height: 520x;
  width: 50%;
}

button:hover {
  background-color: transparent;
  border: 2px solid rgb(230, 22, 57);
  transform: scale(1.05);
  cursor: pointer;
}
.light button {
  background-color: #923141;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .6s;
}
.light button:hover {
  background-color: transparent;
  border: 2px solid #923141;
  transform: scale(1.05);
  cursor: pointer;
  color: black;
}



.projects a {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

p .right {
  position: absolute;
  margin-top: 7px;
}

a {
  text-decoration: none;
  color: white;
}

.projects a :hover {
  color: rgb(230, 22, 57);
}

.icon a:hover {
  color: rgb(230, 22, 57);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.footer span p {
  font-size: 15px;
  text-align: center;

}

.nav a:hover {
  color: rgb(230, 22, 57);
}

.card .button {
  background-color: rgb(230, 22, 57);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;

}

.card .button:hover {
  background-color: transparent;
  border: 2px solid rgb(230, 22, 57);
  cursor: pointer;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  /* margin: 10px; */
  margin-left: 200px;
}
.light .skill-card {
  background-color: #923141;
}

#skills {
  /* background-color: black; */
  background-color: #191919;
  height: 155vh;
  padding: 0px;
  margin: 0px;

}

.skills-list {
  display: flex;
  margin-left: 100px;
}

ul li {
  list-style: none;
}

/* #html{
  border: 1px solid white;
  width:500px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 43vh;
  object-fit: fit;
  margin-left: 50px;
}

#css{
  width:500px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 53vh;
  object-fit: fit;
} */
/* .code {
  color: black;
  font-size: 28px;
  margin-left: 30px;
  margin-top: -40px;
} */

/* #js{
  width:500px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 53vh;
  object-fit: fit;
}
#java{
  width:500px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 53vh;
  object-fit: fit;
}
#bs{
  width:500px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 53vh;
  object-fit: fit;
}
#react{
  width:500px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 2rem auto;
  transition-duration: 0.4s;
  height: 53vh;
  object-fit: fit;
}  */
.skill-card {
  width: 300px;
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 16px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  background: #131313;
  margin-top: 25px ;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  /* text-align: center; */
  height: 53vh;
  /* object-fit: fit; */
  /* color: black; */
}

.light .skill-card{
  color: white;
}
.describe1 {
  color: #fcfc;
}
.light .describe1 {
  color: #fff;
}
.skill-card:hover {
  transform: scale(1.1);
  /* color: white; */
}

.image2 {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-left: 70px;
  margin-top: 25px;
}

/* .codeButton{
  font-size: 20px;
  padding: 15px;
  width: 30%;
  background-color: black;
  color: rgb(121, 16, 16);
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 70px;
} */
.skills-title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 50px;
  padding: 20px;
  color: white;
  /* margin-top: 20px; */
  /* font-family: 'poppins', sans-serif; */
}
.light .skills-title
{
  color: black;
}
.light .projects  h1{
  color: black;
}
.simran{
  color:rgb(230, 22, 57)
}
.light .simran{
  color: #923141
}
.light .view{
  color: black;
}
.light .view:hover{
  color: #923141

}







